@media(max-width: 576px){
    div.pequeno{
         display: flex;
         flex-direction: column;
    }
 
    table.table {
         width: 25%;
     }
 
     div.semana {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }
 
 }
.semana {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

