.fundo {
    background-color: var(--bg-dark);
    border-radius: 5%;
    overflow: hidden;
    width: 300px;
}

.imagem {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.imagem > img {
    height: 50px;
    width: 200px;
}

.btt {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media(max-width: 576px){
    .imagem > img {
        height: 30px;
        width: 150px;
    }

    .imagem {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .fundo {
        background-color: var(--bg-dark);
        border-radius: 5%;
        overflow: hidden;
        width: 100%;
    }
}